@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
#logo {
  width: 150px;
  margin-top: 30px;
  margin-left: 80px;
}
