body {
  color: rgb(211, 230, 220);
  font-family: "Outfit", sans-serif;
  font-size: 2em;
}
.center {
  text-align: center;
  margin-bottom: 4.5em;
}
img {
  width: 15%;
  margin-top: 40px;
  margin-left: 95px;
}
h1 {
  font-size: 60px;
}

section {
  display: flex;
  justify-content: center;
}
.h1Article {
  font-weight: 400;
}

#canvas-content {
  display: flex;
  flex-direction: column;
}
/* descrizione dentro canvas */
#h3Circle1 {
  font-size: 22px;
  font-weight: 400;
}
#h3Circle2 {
  font-size: 22px;
  color: #00ffff;
  font-weight: 400;
  margin-bottom: 1em;
}
#pCircle {
  font-size: 15px;
  max-width: 205px;
  opacity: 0.8;
}
/* valore percentuale wrong */
#wrong {
  padding-left: 1.2em;
}
/* id risposte esatte/sbagliate */
#wrongQuestions {
  font-size: 0.7em;
  opacity: 0.8;
  padding-left: 2.2em;
}
#correctQuestions {
  font-size: 0.7em;
  opacity: 0.8;
}
/* classi article */
.dimension {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  margin-top: 2em;
  color: white;
}
button {
  border-width: 0.2cap;
  border-color: white;
  background: none;
  height: 70px;
  width: 260px;
  font-size: 25px;
  font-weight: 700;
  color: white;

  font-family: "Outfit", sans-serif;
}
