body {
  color: white;
  font-family: "Outfit", sans-serif;
}
.center {
  text-align: center;
  margin-bottom: 4.5em;
}
img {
  width: 15%;
  margin-top: 40px;
  margin-left: 95px;
}
h1 {
  font-size: 60px;
}

section {
  display: flex;
  justify-content: center;
}

#circleDiv {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 20%;
  height: 280px;
}

.dimension {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  margin-top: 5em;
  color: white;
}
button {
  border-color: white;
  background-color: blueviolet;
  height: 70px;
  width: 250px;
}
